<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.xinong.xnsm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".pro.base.application.XnsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".pro.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".pro.GuideActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".pro.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pro.user.view.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".pro.user.view.RegisterActivity"
            android:label="@string/register" />
        <activity android:name=".pro.buy.view.ProductListActivity" />
        <activity android:name=".pro.buy.view.SpecActivity" />
        <activity android:name=".pro.buy.view.SelectActivity" />
        <activity
            android:name=".pro.buy.view.GoodsDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".pro.publish.view.PublishSelectCategoryActivity" />
        <activity android:name=".pro.publish.view.PublishSellActivity" />
        <activity android:name=".pro.publish.view.SelectSpecificationActivity" />
        <activity android:name=".pro.publish.view.SelectUnitPriceActivity" />
        <activity android:name=".pro.publish.view.SelectTermTimeActivity" />
        <activity android:name=".pro.publish.view.SelectAddressActivity" />
        <activity android:name=".pro.publish.view.SelectLogisticMethodActivity" />
        <activity android:name=".pro.publish.view.EditGoodsNoteActivity" />
        <activity android:name=".pro.buy.view.BuyNowActivity" />
        <activity android:name=".pro.user.view.MyOrdersActivity" />
        <activity android:name=".pro.buy.view.OrderDetailActivity" />
        <activity android:name=".pro.buy.view.UploadActivity" />
        <activity android:name=".pro.publish.view.SelectPhotosActivity" />
        <activity android:name=".pro.publish.view.SkanActivity" />
        <activity android:name=".pro.buy.view.SearchActivity"></activity>
    </application>

</manifest>